@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 12rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.row .col-md-6 {
  max-width: 50%;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 96px;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.btn {
  outline: none;
  border: none;
  padding: 15px 30px;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

header {
  background-color: #1a222d;
  color: #fff;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

header nav .search-icon {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.521);
  border-radius: 50%;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

header nav .search-icon:hover {
  opacity: 1;
}

header nav .search-icon i {
  font-size: 1.5rem;
}

header .header-content {
  min-height: 80vh;
  padding: 3rem 0;
}

header .header-content h1 {
  margin: 1rem 0;
}

header .header-content p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 4rem 0;
  line-height: 32px;
}

header .header-content form {
  display: inline-block;
  border-radius: 22px;
  background: #ffffff;
}

header .header-content form input {
  padding: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -0.02em;
  outline: none;
  border: none;
  color: #b1b1b1;
  border-radius: 22px;
}

header .header-content form label {
  background: #ff6652;
  border-radius: 16px;
  padding: 1.4rem 3.5rem;
  margin-right: 0.6rem;
  cursor: pointer;
  font-weight: 600;
}

header .header-content .card {
  background: #ff6652;
  border-radius: 39px;
  position: relative;
}

header .header-content .card .header-main-img {
  background-color: #fff;
  padding: 0 4rem;
  border-radius: 39px;
  position: relative;
  margin-left: 8%;
  margin-bottom: 8%;
  margin-top: -8%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-content .card .header-main-img:hover {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}

header .header-content .card .discount-card {
  position: absolute;
  top: 30%;
  left: -15%;
  background-color: #fff;
  color: #000;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  width: 238px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

header .header-content .card .discount-card img {
  margin-right: 1rem;
}

header .header-content .card .discount-card h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #a6a6bb;
}

header .header-content .card .discount-card h2 {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #070a13;
}

header .header-content .card .profile-card {
  position: absolute;
  top: -20%;
  right: -22%;
  width: 218px;
  height: 274px;
  background-color: #fff;
  border-radius: 18px;
  color: #000;
  padding: 0 2rem;
  text-align: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .header-content .card .profile-card img {
  margin: 1rem 0;
}

header .header-content .card .profile-card h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #8888a5;
  margin: 0.4rem 0;
}

header .header-content .card .profile-card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #070a13;
}

header .header-content .card .profile-card h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #fe5a50;
  margin: 0.7rem 0;
}

.second-section {
  padding: 4rem 0;
  text-align: center;
}

.second-section img {
  border-radius: 50%;
  width: 155px;
  height: 155px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #ffffff;
  border: 1px solid #f3f3f3;
}

.second-section img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.second-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #202a36;
}

.second-section h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #202a36;
}

.third-section {
  padding: 3rem 0;
}

.third-section h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fe5a50;
}

.third-section h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #202a36;
}

.third-section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section nav ul li {
  list-style: none;
  margin-right: 2rem;
}

.third-section nav ul li a {
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: #575e66;
  background: #f3f3f3;
  border-radius: 18px;
  padding: 1rem 3rem;
}

.third-section nav ul li a:hover {
  background: #202a36;
  border-radius: 18px;
  color: #fff;
  font-weight: 600;
}

.third-section nav ul li .active-btn {
  background: #202a36;
  border-radius: 18px;
  color: #fff;
  font-weight: 600;
}

.third-section .food-items .card {
  background: #ffffff;
  border: 2px solid #f8f5f5;
  border-radius: 15px;
  position: relative;
  margin: 2rem;
}

.third-section .food-items .card:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.third-section .food-items .card .card-tag {
  background: linear-gradient(116.88deg, #ff4539 -4.28%, #fe5a50 112.69%);
  -webkit-box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
          box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
  border-radius: 3px;
  position: absolute;
  top: 6%;
  left: 5%;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.third-section .food-items h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #242e3a;
}

.third-section .food-items h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #575e66;
  margin: 0.5rem 0;
}

.third-section .food-items h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #575e66;
}

.third-section .food-items .price {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #121146;
  text-align: center;
  display: block;
  padding: 1rem 0;
}

.third-section .food-items .card-body {
  padding: 1.5rem;
}

.fourth-section .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fourth-section h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fe5a50;
}

.fourth-section h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 60px;
  color: #202a36;
}

.fourth-section p {
  font-size: 1.3rem;
  line-height: 26px;
  color: #7d90a6;
}

.fourth-section .fourth-section-link-img img {
  margin-right: 3rem;
}
/*# sourceMappingURL=style.css.map */