@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 12rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  .col-md-6 {
    max-width: 50%;
  }
}
h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 96px;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}
.my-5 {
  margin: 5rem 0;
}
.my-6 {
  margin: 6rem 0;
}
.btn {
  outline: none;
  border: none;
  padding: 15px 30px;
}
//==========
//=========
// =======
header {
  background-color: #1a222d;
  color: #fff;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    ul {
      display: flex;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: #fff;
          margin-right: 2.5rem;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }

    .search-icon {
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.521);
      border-radius: 50%;
      padding: 1rem;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }

  .header-content {
    min-height: 100vh;
    padding: 3rem 0;
    h1 {
      margin: 1rem 0;
    }
    p {
      font-size: 1.3rem;
      font-weight: 500;
      margin: 2rem 0;
      line-height: 32px;
    }
    form {
      display: inline-block;
      border-radius: 22px;
      background: #ffffff;
      input {
        padding: 1.5rem;
        font-size: 19px;
        line-height: 28px;
        letter-spacing: -0.02em;
        outline: none;
        border: none;
        color: #b1b1b1;
        border-radius: 22px;
      }
      label {
        background: #ff6652;
        border-radius: 16px;
        padding: 1.4rem 3.5rem;
        margin-right: 0.6rem;
        cursor: pointer;
        font-weight: 600;
      }
    }

    .card {
      background: #ff6652;
      border-radius: 39px;
      // padding: 0 4rem;
      position: relative;

      .header-main-img {
        background-color: #fff;
        padding: 0 4rem;
        border-radius: 39px;
        position: relative;
        margin-left: 8%;
        margin-bottom: 8%;
        margin-top: -8%;

        // padding-left: 3rem;
        // &:hover {
        //   margin: -2rem -2rem auto auto;
        // }
      }

      .discount-card {
        position: absolute;
        top: 30%;
        left: -15%;
        background-color: #fff;
        color: #000;
        padding: 1rem;
        display: flex;
        border-radius: 15px;
        width: 238px;

        img {
          margin-right: 1rem;
        }
        h4 {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.01em;
          color: #a6a6bb;
        }
        h2 {
          font-weight: 600;
          font-size: 17px;
          line-height: 26px;
          letter-spacing: 0.01em;
          color: #070a13;
        }
      }
      .profile-card {
        width: 218px;
        height: 274px;
        background-color: #fff;
        border-radius: 18px;
        color: #000;
        padding: 0 2rem;
        text-align: center;
        img {
          margin: 1rem 0;
        }
        h4 {
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.01em;
          color: #8888a5;
        }
        h3 {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.01em;
          color: #070a13;
        }
        h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          /* identical to box height */

          letter-spacing: 0.01em;

          color: #fe5a50;
        }
      }
    }
  }
}
